<div *ngIf="!submitted">
    <form>
        <label for="username">User Name</label>
        <input type="text" name="username" #username />
        <br /><br />
        <label for="password">Password</label>
        <input type="password" name="password" #password />
        <br />
    </form>
    <button (click)="onSubmit(username.value, password.value)">Login</button>
</div>

<div *ngIf="submitted">
    <div *ngIf="isAuthenticated; else failureMessage">
        <h4>Welcome {{userName}}</h4>
    </div>
    <ng-template #failureMessage>
        <h4>Invalid Login!! Please try again...</h4>
    </ng-template>
    <button (click)="submitted = false">Back</button>
</div>

<ul>
    <li *ngFor="let course of courses; let i = index">
        {{i}} - {{course.id}} - {{course.name}}
    </li>
</ul>

<h3>Current choice is {{value}}</h3>
<div [ngSwitch]="value">
    <p *ngSwitchCase="1">First Choice</p>
    <p *ngSwitchCase="2">Second Choice</p>
    <p *ngSwitchCase="3">Third Choice</p>
    <p *ngSwitchCase="4">Fourth Choice</p>
    <p *ngSwitchDefault>Default Choice</p>
</div>
<button (click)="nextChoice()">Next choice</button> <br /> <br />
<button (click)="previousChoice()">Previous Choice</button>

<h3 *appRepeat="7">Structural Directive</h3>
